.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



@media all and (max-width: 992px) {
    .item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media all and (max-width: 768px) {
    .item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
    }
}

@media all and (max-width: 576px) {
    .item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
}