  
.footer-section {
    background: #000000;
    padding: 50px 0;
}
a {
    color: #000000;
}

.footer-container {
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}
.media {
    background: #BDBDBD;
    margin: 0 5px;
    padding: 15px 0;
}

.icons {
    font-size: 30px;
    margin-left: 30px;
}

.icon {
    font-size: 30px;
    margin-left: 15px;
}



@media all and (max-width: 992px) {
    .footer-container {
        color: #FFFFFF;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
    }
    img {
        display: block;
    }
}

@media all and (max-width: 576px) {
    .footer-container {
        color: #FFFFFF;
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }
}